.navbar {
    background-color: #DFD7BF;
    height: 4rem;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    display: flex; align-items: center;
}
.navbar p{
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    line-height: 20px;
    width: 40px;
    height: 108px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 10px;
}

.container {
    display: flex; 
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    height: 340px;
    width: 450px;
    background-color: #F7F5EF;
    border-radius: 26px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px #DFD7BF ;
    margin-left: 400px;
}
.textoPesoDolar{
    align-items: baseline;
}
input{
    border-radius: 10px;
    margin-bottom: 40px;
    width: 400px;
    height: 35px;
    border: none;
    background-color: #D9D9D9;
}

.button{
    border-radius: 5px;
    width: 150px;
    font-weight: 700;
}
p{
    color: gray;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 0px;
}
.logo{
    display: flex; 
    justify-content: start; 
    height: 45px;
}

img{
    padding-left: 10px;
}
body{
    background-color: #F7F5EF;
}
footer  a {
    background-color: #D9D9D9;
    background-size: contain;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    color: black;
    }