*{
    margin: 0%;

}


.navbar-top{
    background-color: #DFD7BF;
    height: 4rem;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    display: flex; align-items: center;
    justify-content: space-between;
}

.navbar-top a{
    text-decoration: none; 
    color: black;
    padding-left: 15px;
}

.container {
    display: flex; justify-content: center;
    flex-direction: column ;
    align-items: center;
    height: 660px;
    width: 700px;
    background-color: #F7F5EF;
    border-radius: 26px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px #DFD7BF ;
}

.container2 {
    display: flex; justify-content: center;
    flex-direction: column ;
    align-items: center;
    height: 860px;
    width: 700px;
    background-color: #F7F5EF;
    border-radius: 26px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px #DFD7BF ;
}

.items{
    justify-content: space-around;
}

.form{
    display: flex; justify-content: center;
    flex-direction: column ;
    border-radius: 26px; 
    padding-top: 3rem;
    
}

.link{
    display: flex;justify-content: flex-start;
    margin-top: 15px;
}


input{
    border-radius: 10px;
    margin-bottom: 40px;
    width: 400px;
    height: 35px;
    border: none;
    background-color: #D9D9D9;
}

.button, #cuotas, #moneda, #monedaEuro {
    border-radius: 5px;
    width: 150px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cursiva{
    font-style: italic;
}

a{
    color: grey; padding-left: 10px;
}

.logo{
    display: flex; justify-content: start; 
    height: 45px;
    font-family: 'Cormorant SC', serif;
}

.logo p{
    display: flex; align-items: center;
}

img{
    padding-left: 10px;
}

.cont-menu{
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 0px rgb(66, 66, 66);
    width: 400px;
    height: 100vh;
    /* position: absolute; */
    top: 0;
    left: 0;
    transition: all .5s ease;
    font-family: 'Poppins', sans-serif;


}
.cont-menu a{
    text-decoration: none; color: #D9D9D9;
}
.opacity {
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
}
.cont-menu ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
 }
    
.cont-menu ul li {
        color: aliceblue;
        display: block;
        font-size: 25px;
        text-decoration: none;
        padding: 10px 50px;
        cursor: pointer;
}
    
.cont-menu ul li:hover {
        background-color: rgb(228,228,228);
        color: rgb(42, 42, 42);
        
}

.prestamos, .index { 
    display: flex;
    justify-content: space-between;

}
h3{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex; text-align: center ;
}

.info{
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: large;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.container-inicio {
        display: flex; justify-content: center;
        flex-direction: column ;
        align-items: center;
        height: 460px;
        width: 900px;
        background-color: #F7F5EF;
        border-radius: 26px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        padding-top: 60px;
        padding-bottom: 60px;
        font-family: 'Poppins', sans-serif; 
        font-weight: 700;
        box-shadow: 0px 0px 5px 1px #DFD7BF ;
}

.container-pagos {
    
    flex-direction: column ;
    height: 430px;
    width: 900px;
    background-color: #F7F5EF;
    border-radius: 26px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 3rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px #DFD7BF ;
}

.secciones > p{
    margin-top: 1rem;
    flex-direction: column ;
    font-weight: 600 ;
   
}

footer .footer-icons img {
    width: 25px;
    margin: 0 auto;
    /* margin-bottom: 35px; */
    align-items: center;
    justify-content: center;
   
}

footer  {
    background-color: #D9D9D9;
    background-size: contain;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column;  */
    display: flex; justify-content: space-between;
    height: 60px;
    display: flex; flex-wrap: wrap;
    
   
}

.footer-list li {
    display: inline;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-icons {
     margin-right: 20px;
}



/* @media (max-width: 560px){
    .container, div, .container2, .container-inicio, .container-pagos{
        width: 100%;
        height: 100%;
        margin-top: 0%;
        border-radius: 0%;
        padding-top: 60px;
        border: none;
        box-shadow: none; 
    }
    .form, input{

        width: fit-content;
        margin-bottom: 20px;
    }
    .link{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding-top: 0px;
    }
    body{
        background-color: #F7F5EF;
    }
    
    .navbar-top{
        padding-top: 8px ;
    }
    footer  {
        background-color: #D9D9D9;
        background-size: contain;
        display: flex;
        /* justify-content: center; */
        /*align-items: center;
        /* flex-direction: column;  */
        /* display: flex; justify-content: space-between; */
        /*height: 60px;
        /* display: flex; flex-wrap: wrap; */
        
       
    /*}
    
    .footer-list  {
        display: inline;
        align-items: center;
        padding: 5px;
    }
    .cont-menu{

    }
    
} */
