
.navbar{
    background-color: #DFD7BF;
    height: 4rem;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    display: flex; align-items: center;
}

.container {
    display: flex; 
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    height: 660px;
    width: 700px;
    background-color: #F7F5EF;
    border-radius: 26px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px #DFD7BF ;
    
}

.container2 {
    display: flex; justify-content: center; 
    flex-direction: column ;
    align-items: center;
    height: 1060px;
    width: 700px;
    background-color: #F7F5EF;
    border-radius: 26px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px #DFD7BF ;
}

.items{
    justify-content: space-around;
}

.form{
    display: flex; 
    justify-content: center;
    flex-direction: column ;
    border-radius: 26px; 
    padding-top: 3rem;
    
}

.link{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}


input{
    border-radius: 10px;
    margin-bottom: 40px;
    width: 400px;
    height: 35px;
    border: none;
    background-color: #D9D9D9;
}

.button{
    border-radius: 5px;
    width: 150px;
    font-weight: 700;
}

a{
    color: grey;
}

.logo{
    display: flex; 
    justify-content: start; 
    height: 45px;
}

img{
    padding-left: 10px;
}

@media (max-width: 700px){
    .container, div, .container2{
        width: 100%;
        height: 100%;
        margin-top: 0%;
        border-radius: 0%;
        padding-top: 60px;
        border: none;
        box-shadow: none; 
    }
    .form, input{

        width: fit-content;
        margin-bottom: 20px;
    }
    .link{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding-top: 0px;
    }
    body{
        background-color: #F7F5EF;
    }
}
